{% extends 'base.html.twig' %}
{% import 'macro.twig' as macro %}

{% block title %}Product attribute index{% endblock %}

{% block body %}
    <h1>Product Attributes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_attribute in product_attributes %}
            <tr>
                <td>{{ product_attribute.id }}</td>
                <td>{{ product_attribute.name }}</td>
                <td>
                    {{ macro.action_column('product_attribute', product_attribute.id) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_attribute_new') }}">Create new</a>
{% endblock %}
